// ==========================================================================
// Objects / Container
// ==========================================================================

//
// Page-level constraining and wrapping elements.
//
// > In programming languages the word *container* is generally used for structures
// that can contain more than one element.
// > A *wrapper* instead is something that wraps around a single object to provide
// more functionalities and interfaces to it.
// @link http://stackoverflow.com/a/13202141/140357
//

/* stylelint-disable */
@if (type-of($container-width) != number) {
  @error "`#{$container-width}` needs to be a number.";
}
/* stylelint-enable */

.o-container {
  width: 100%;
  margin: 0 auto;
  padding: $unit / 2;
  @media (min-width: $from-small) {
    width: 680px;
    padding: 0;
  }
  @media (min-width: $from-large) {
    width: 860px;
    padding: 0;
  }
}

.o-overlay {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
