// ==========================================================================
// Objects / Container
// ==========================================================================

.o-container {
  width: 100%;
  margin: 0 auto;
  padding: $unit / 2;
  @media (min-width: $from-small) {
    width: 680px;
    padding: 0;
  }
  @media (min-width: $from-large) {
    width: 900px;
    padding: 0;
  }
}
