// ======================================================
// Components / info-bubble
// ======================================================

// Tippy
// ======================================================

.tippy-popper {
  min-width: rem($info-bubble--tooltip-min-width) !important;
  max-width: rem($info-bubble--tooltip-max-width) !important;
}

.tippy-tooltip {
  padding: 0;
}

// Perfect Scrollbar
// ======================================================

.scrollbar-container {
  max-height: 580px;
}

.ps__rail-y {
  background-color: transparent !important;
  left: initial !important;
  right: 0 !important;
}

.ps__thumb-y {
  opacity: 0.6;
}

// Info Bubble
// ======================================================

.c-info-bubble,
.c-info-bubble_circle,
.c-info-bubble_btn {
  border-radius: 50%;
  cursor: pointer;
}

.c-info-bubble {
  z-index: 100;
  position: fixed;
  right: rem($info-bubble--offset * 1.25);
  bottom: rem($info-bubble--offset);
}

.c-info-bubble_circle {
  padding: rem($info-bubble--outer-padding);
  background-color: $bubble-color;

  @include u-hocus {
    background-color: $bubble-color-dark;
    .c-info-bubble_btn {
      border-color: $bubble-color;
    }
  }
  transition: background-color $speed / 2 $easing;
}

.c-info-bubble_btn {
  padding: rem($info-bubble--inner-padding);
  border: solid $bubble-color-light 2px;
  transition: border-color $speed / 2 $easing;
}

.c-info-bubble_icon {
  width: rem($info-bubble--icon-size);
  height: rem($info-bubble--icon-size);
  color: $white;
}

// Content
// ======================================================

.c-info-bubble_content,
.c-info-bubble_assertions {
  text-align: left;
}

.c-info-bubble_content {
  padding: rem($info-bubble--content-padding);
  font-size: rem($info-bubble--content-font-size);
}

.c-info-bubble_label {
  margin-top: rem($unit / 6);
  margin-bottom: 0;
  font-size: rem($info-bubble--label-size);
  text-align: center;
  color: $gray;
}

.c-info-bubble_hr {
  width: rem($info-bubble--hr-size);
  margin: rem($unit / 20) auto rem($unit / 4) auto;
  border-color: $gray-dark;
}

.c-info-bubble_p {
  text-align: left;
  font-weight: $light;
  letter-spacing: 0.5px;
  padding: 0 rem($unit / 4);
}

// Assertions
// ======================================================

.c-info-bubble_assertions {
  font-size: rem($info-bubble--content-font-size);
  padding: rem($info-bubble--content-padding * 2);
  padding-top: rem($info-bubble--content-padding);
  background-color: darken($gray-darker, 2%);
}

.c-info-bubble_assertions_icon,
.c-info-bubble_assertions_message {
  display: inline-block;
}

.c-info-bubble_assertions_icon {
  width: rem($info-bubble--assertion-icon-size);
  height: rem($info-bubble--assertion-icon-size);
  margin-right: rem($unit / 8);
  color: $success;
  &.-error {
    color: $danger;
  }
}

.c-info-bubble_assertions_message {
  color: $success-light;
  &::first-letter {
    text-transform: capitalize;
  }
  &.-error {
    color: $danger-light;
  }
}

// Controls
// ======================================================

.c-info-bubble_control-btn {
  cursor: pointer;
  padding: $unit / 6 0;

  &:first-child {
    border-right: solid $bubble-color-dark 1px;
  }

  background-color: $bubble-color;
  &:hover {
    background-color: $bubble-color-dark;
  }
  &.-disabled,
  &.-disabled:hover {
    cursor: default;
    color: $gray-dark;
    background-color: $gray-darker;
    &:first-child {
      border-right-color: $dark;
    }
  }
  transition: background-color $speed / 2 $easing;
}

.c-info-bubble_control-btn_icon {
  width: rem($info-bubble--control-btn-icon-size);
  height: rem($info-bubble--control-btn-icon-size);
}
