// ======================================================
// Modules / Container
// ======================================================

.c-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: $main-color-lighter;
}

.c-container_panel {
  height: 100vh;
  display: flex;
  align-items: center;
  .o-layout_item:first-child > & > div {
    padding-right: $unit / 2;
    border-right: solid $main-color-light 1px;
  }
  .o-layout_item:last-child > & > div {
    padding-left: $unit / 2;
  }
}

.c-container_body {
  width: rem($container--body-width);
  margin: 0 auto;
}
