// ======================================================
// Modules / Tooltip
// ======================================================

.c-tooltip {
  padding: rem($tooltip--padding);
  border-radius: rem($tooltip--radius);
  background-color: $dark;
  &[data-placement*="top"] {
    top: rem(-$tooltip--tip-width) !important;
  }
  &[data-placement*="left"] {
    left: rem(-$tooltip--tip-width) !important;
  }
}

.c-tooltip_content {
  box-sizing: content-box;
  max-width: rem($tooltip--width);
  color: $gray-lighter;
}

// Arrow
// ======================================================

.c-tooltip_arrow {
  position: absolute;
  width: rem($tooltip--tip-width);
  height: rem($tooltip--tip-height * 2);
  &::before {
    content: "";
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }

  .c-tooltip[data-placement*="top"] &,
  .c-tooltip[data-placement*="bottom"] &,
  .c-tooltip[data-placement*="right"] & {
    left: rem($tooltip--tip-width * 0.9);
  }

  .c-tooltip[data-placement*="top"] &,
  .c-tooltip[data-placement*="bottom"] & {
    width: rem($tooltip--tip-height * 2);
    height: rem($tooltip--tip-width);
  }

  .c-tooltip[data-placement*="bottom"] & {
    top: rem($tooltip--tip-width * 0.9);
    margin-top: rem(-$tooltip--tip-width);
    &::before {
      border-width: 0 rem($tooltip--tip-height) rem($tooltip--tip-width) rem($tooltip--tip-height);
      border-bottom-color: $dark;
    }
  }
  .c-tooltip[data-placement*="top"] & {
    bottom: 0;
    margin-bottom: rem(-$tooltip--tip-width);
    &::before {
      border-width: rem($tooltip--tip-width) rem($tooltip--tip-height) 0 rem($tooltip--tip-height);
      border-top-color: $dark;
    }
  }
  .c-tooltip[data-placement*="right"] & {
    margin-left: rem(-$tooltip--tip-width);
    &::before {
      border-width: rem($tooltip--tip-height) rem($tooltip--tip-width) rem($tooltip--tip-height) 0;
      border-right-color: $dark;
    }
  }
  .c-tooltip[data-placement*="left"] & {
    right: 0;
    margin-right: rem(-$tooltip--tip-width);
    &::before {
      border-width: rem($tooltip--tip-height) 0 rem($tooltip--tip-height) rem($tooltip--tip-width);
      border-left-color: $dark;
    }
  }
}
