// ==========================================================================
// Settings / Config / App
// ==========================================================================

$container--body-width: 600px;
$container--header-padding: $unit / 4;

// Info Bubble
// ======================================================

$info-bubble--tooltip-max-width: 550px;

$info-bubble--offset: 40px;
$info-bubble--outer-padding: 4px;
$info-bubble--inner-padding: 8px;
$info-bubble--icon-size: 16px;

$info-bubble--content-padding: 20px;
$info-bubble--label-size: 15px;
$info-bubble--assertion-icon-size: 18px;

$info-bubble--control-btn-icon-size: 28px;
