// ==========================================================================
// Settings / Config / App
// ==========================================================================

// Footer
// ======================================================

$footer--font-size: 12px;

// Info Bubble
// ======================================================

$info-bubble--tooltip-min-width: 400px;
$info-bubble--tooltip-max-width: 540px;

$info-bubble--offset: 40px;
$info-bubble--outer-padding: 4px;
$info-bubble--inner-padding: 8px;
$info-bubble--icon-size: 16px;

$info-bubble--content-font-size: 14px;
$info-bubble--content-padding: 20px;
$info-bubble--label-size: 15px;
$info-bubble--hr-size: 30px;
$info-bubble--assertion-icon-size: 18px;

$info-bubble--control-btn-icon-size: 28px;
