// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #ffffff;
$black: #000000;

$dark: lighten($black, 8%);
$gray-lighter: darken($white, 15%);
$gray-light: darken($white, 28%);
$gray: lighten($black, 50%);

// App
// =============================================================================

$main-color: #235ca7;

$bubble-color: rgb(107, 59, 134);
$bubble-color-light: lighten($bubble-color, 20%);
$bubble-color-dark: darken($bubble-color, 12%);

$code--reserved-word-color: red;

// Specific
// =============================================================================
// Link
$link-color: #1a0dab;
$link-focus-color: #1a0dab;
$link-hover-color: darken(#1a0dab, 10%);
// Selection
$selection-text-color: #3297fd;
$selection-background-color: #ffffff;

// Social Colors
// =============================================================================
$facebook-color: #3b5998;
$instagram-color: #e1306c;
$youtube-color: #cd201f;
$twitter-color: #1da1f2;
