// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #ffffff;
$black: #000000;

$dark: lighten($black, 8%);

$gray-darker: lighten($black, 15%);
$gray-dark: lighten($black, 28%);
$gray: lighten($black, 50%);
$gray-light: darken($white, 28%);
$gray-lighter: darken($white, 15%);

$success: rgb(42, 182, 49);
$success-light: #effff0;
$danger: #ff154f;
$danger-light: #ffdcdc;

// App
// =============================================================================

$main-color: #1ccebf;
$main-color-light: #c1fcee;
$main-color-lighter: #f2fffb;
$main-color-dark: #2ba69b;
$main-color-darkest: #18726b;

$accent-color: #235ca7;

$accent-color: #fc82e3;
$accent-color-dark: darken($accent-color, 10%);

$bubble-color: #16c2b0;
$bubble-color-light: lighten($bubble-color, 20%);
$bubble-color-dark: darken($bubble-color, 12%);

// Specific
// =============================================================================
// Link
$link-color: #1a0dab;
$link-focus-color: #1a0dab;
$link-hover-color: darken(#1a0dab, 10%);
// Selection
$selection-text-color: #3297fd;
$selection-background-color: #ffffff;

// Social Colors
// =============================================================================
$facebook-color: #3b5998;
$instagram-color: #e1306c;
$youtube-color: #cd201f;
$twitter-color: #1da1f2;
