// ==========================================================================
// Base / Page
// ==========================================================================

html {
  overflow: hidden;
  height: 100%;
  color: $color;
  font-family: $font-family;
  line-height: $line-height;
  background-color: $main-color-lighter;

  @media (max-width: $to-small) {
    font-size: 12px;
  }

  @media (min-width: $from-small) and (max-width: $to-medium) {
    font-size: 13px;
  }

  @media (min-width: $from-medium) and (max-width: $to-large) {
    font-size: 14px;
  }

  @media (min-width: $from-large) and (max-width: $to-huge) {
    font-size: $font-size; /* [1] */
  }

  @media (min-width: $from-huge) and (max-width: $to-gigantic) {
    font-size: 18px;
  }

  @media (min-width: $from-gigantic) and (max-width: $to-colossal) {
    font-size: 21px;
  }

  @media (min-width: $from-colossal) {
    font-size: 24px;
  }
}

html,
main {
  min-width: 900px;
}

::selection {
  background-color: $selection-background-color;
  color: $selection-text-color;
  text-shadow: none;
}

a {
  @include u-hocus {
    color: $link-hover-color;
  }

  color: $link-color;
}
